 /* common shared styles */
 * { font-family: 'Open Sans', sans-serif;
}
.section-title{
  color:#181818;
text-align: center;
font-size: 35px;
font-weight: 700;
}
.section-discription{
color:#757575;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;}
 


/* nav related styles */
nav {display: flex;
  justify-content: space-between;
 align-items: center;
margin: 0 200px;}

 .nav-title{color:#181818;
 font-size: 45px;
 font-weight: 800;
 }
 .text-primary{color: #FD6E0A;}
 nav > ul{display:flex;
align-items: center;}

 nav li{list-style:none;
margin-right: 50px;}

 nav a {text-decoration:none;
color:#474747 ;
align-items: center;}

.bttn-primary{border-radius: 5px;
background: #FD6E0A;
border: 0;
color: #FFF;
font-size: 20px;
font-weight: 700;
padding: 10px 30px;}

/* header related style  */
.header{background-image:  url('../images/header_bg.png'), url(images/developer.png) ;
 background-repeat: no-repeat;
  background-position: bottom right,top left;

 
  
  background-color:#FFF8F;
}


.banner{padding: 50px 30px 0px 150px;
display: flex;
align-items: center;
 justify-content: space-between;}

.banner .profile-picture{width: 500px;
 
}
.banner-greeting{color:#474747;
font-size: 45px;
font-weight: 600;
margin-bottom: 5px;}
.banner-title{
  color:#181818;
font-size: 85px;
font-weight: 700;
margin-top: 0px;
}
.banner-discriptions{
  color:#757575;
font-size: 18px;
font-weight: 400;
margin-bottom: 20px;
max-width: 500px;
}


/* main sesction styles */



/* about section style */
.about{padding: 130px;
border-radius: 10px;
background-color: #FFF8F3;
margin:130px ;}

/* main section styles */

main{max-width: 1150px;
margin: 0 auto;}

main section{margin-top: 130px;}

.about-info-container{display: flex;
justify-content: space-around;
}
.about-info{text-align: center;}

/* skils related styles */

#what-ido-descripton{padding: 30px 150px;}

.skils-container{display: flex;
gap:25px ;}


.skill{
width: 267px;
height: 377px;
border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
text-align: center;
padding-right: 15px;}

.skill img {width: 44px;
height: 44px;
flex-shrink: 0;}
.skill-discription{ width: 201px;
color:#757575;
font-size: 16px;
font-weight: 400;
}

.skill-title {color: #181818;
text-align: center;
font-size: 20px;
font-weight: 700;}

/* Resume Section */
.resume-container{display: flex;
gap: 40px;}

.resume-column-title{color: #474747;
font-size: 30px;
font-weight: 700;
}

.resume-item{ 
  color:#474747;
font-size: 25px;
font-weight: 700;}

.resume-item-details{
  width: 511px;
  color:#757575;
font-size: 16px;
font-weight: 400;
}
.section-title{margin-bottom: 50px;}

.download-cv{border-radius: 5px;
background: #FD6E0A;
border: 0;
color: #FFF;
font-size: 20px;
font-weight: 700;
padding: 10px 30px;
margin-top: 50px;}

footer{
width: 1600px;
height: 780px;
background: #FFF8F3;
padding: 130px 200px;
display: flex;
margin-top: 100px ;
gap: 100px;}
.footer-colum{width: 50%;}
.contact input[type="text"],
.contact input[type="email"],

textarea{display: block;
margin-bottom: 25px;
padding: 20px 35px;
color:#757575;
font-size: 16px;
font-weight: 400;
border: 0;
width: 100%;
border-radius: 5px;
background:#FFF;
}
.social-media a {margin: 25px;
}


 